<!DOCTYPE html>
<html>
  <head>
    <title>MegaPing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (!user) { %>
    	<h2>Welcome! Please log in.</h2>
    <% } else { %>
    	<h2>Hello, <%= user.name %>.</h2>
    <% } %>
    <h1>Posts from reddit:</h1>
    <p><%= JSON.stringify(posts) %></p>
  </body>
</html>
