<!DOCTYPE hmtml>
<html>
<head>
  <title>MegaPing</title>

  <link rel='stylesheet' href="/stylesheets/pings.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css">

</head>
<body>
  <ul class="topnav" id="myTopnav">
    <li id="navbarTitle"><a class="active" href="#home">Home</a></li>

    <li class="navbarLink"><a href="#news">News</a></li>
    <li class="navbarLink"><a href="#contact">Contact</a></li>
    <li class="navbarLink"><a href="#about">About</a></li>

    <li class="icon">
      <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
    </li>
  </ul>

  <script src="/javascripts/navbar.js"></script>
</body>
</html>
