<!DOCTYPE hmtml>
<html>
<head>
  <title>MegaPing</title>

  <link rel='stylesheet' href="/stylesheets/pings.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

</head>
<body>
  <ul class="topnav" id="myTopnav">
    <li id="navbarTitle"><a class="active" href="#home">Home</a></li>

    <div id="navbarLinkContainer">
      <li class="navbarLink"><a href="#news">About</a></li>
      <li class="navbarLink"><a href="#contact">How It Works</a></li>
      <li class="navbarLink"><a href="/logout">Logout</a></li>
    </div>

    <li class="icon">
      <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
    </li>
  </ul>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="newPingBtn" class="textCenter">
          <p>New Ping</p>
        </div>
      </div>
    </div>
  </div>

  <script src="/javascripts/navbar.js"></script>
</body>
</html>
