#myTopnav {
    margin-bottom: 10px;
}

#newPingBtn {
    border: 1px solid black;
    background-color: gray;
    border-radius: 5px;
    width: 100%;

}

.newPingInput {
    display: block;
}

.newPingAllInput {
    width: 100%;
    height: 30px;
    border: 1 solid black;
    border-radius: 5px;
}

.newPingInputNotifyMethodType {
    height: 30px;
    width: 100%;
    display: table;
}

.newPingInputNotifyMethodType span {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2em;
}


/* Globals */

.textCenter {
    text-align: center;
}
